@use "./partials/variables" as *;

$fa-font-path: "../fonts/webfonts" !default;

@import "~@fortawesome/fontawesome-free/scss/fontawesome";
@import "~@fortawesome/fontawesome-free/scss/regular";
@import "~@fortawesome/fontawesome-free/scss/solid";
@import "~@fortawesome/fontawesome-free/scss/brands";

$pagination-active-bg: $red-color !default;
$pagination-color: $red-color !default;
$pagination-active-color: white !default;
$pagination-active-border-color: grey !default;

@import "~bootstrap/scss/bootstrap";

//************************** general style **************************

h4,
h5,
h1,
h2,
h3 {
    margin: 0;
}

h6 {
    font-size: 2rem;
    /* text-shadow: 1px 1px $red-color; */
}

ul,
ol {
    margin: 0;
}

p {
    margin: 0;
}

html,
body {
    font-family: "Montserrat", sans-serif;
    background-color: $content-bg;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}

a {
    text-decoration: none;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track-piece {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: #cbcbcbb0;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #909090;
    transition-duration: 0.3s;
}

//************************** app.blade **************************
#navbar_app {
    height: 100px;
    background-color: #c1e4a9;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 2000 1500'%3E%3Cdefs%3E%3CradialGradient id='a' gradientUnits='objectBoundingBox'%3E%3Cstop offset='0' stop-color='%239CB888'/%3E%3Cstop offset='1' stop-color='%23C1E4A9'/%3E%3C/radialGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='0' y1='750' x2='1550' y2='750'%3E%3Cstop offset='0' stop-color='%23aed196'/%3E%3Cstop offset='1' stop-color='%23C1E4A9'/%3E%3C/linearGradient%3E%3Cpath id='s' fill='url(%23b)' d='M1549.2 51.6c-5.4 99.1-20.2 197.6-44.2 293.6c-24.1 96-57.4 189.4-99.3 278.6c-41.9 89.2-92.4 174.1-150.3 253.3c-58 79.2-123.4 152.6-195.1 219c-71.7 66.4-149.6 125.8-232.2 177.2c-82.7 51.4-170.1 94.7-260.7 129.1c-90.6 34.4-184.4 60-279.5 76.3C192.6 1495 96.1 1502 0 1500c96.1-2.1 191.8-13.3 285.4-33.6c93.6-20.2 185-49.5 272.5-87.2c87.6-37.7 171.3-83.8 249.6-137.3c78.4-53.5 151.5-114.5 217.9-181.7c66.5-67.2 126.4-140.7 178.6-218.9c52.3-78.3 96.9-161.4 133-247.9c36.1-86.5 63.8-176.2 82.6-267.6c18.8-91.4 28.6-184.4 29.6-277.4c0.3-27.6 23.2-48.7 50.8-48.4s49.5 21.8 49.2 49.5c0 0.7 0 1.3-0.1 2L1549.2 51.6z'/%3E%3Cg id='g'%3E%3Cuse href='%23s' transform='scale(0.12) rotate(60)'/%3E%3Cuse href='%23s' transform='scale(0.2) rotate(10)'/%3E%3Cuse href='%23s' transform='scale(0.25) rotate(40)'/%3E%3Cuse href='%23s' transform='scale(0.3) rotate(-20)'/%3E%3Cuse href='%23s' transform='scale(0.4) rotate(-30)'/%3E%3Cuse href='%23s' transform='scale(0.5) rotate(20)'/%3E%3Cuse href='%23s' transform='scale(0.6) rotate(60)'/%3E%3Cuse href='%23s' transform='scale(0.7) rotate(10)'/%3E%3Cuse href='%23s' transform='scale(0.835) rotate(-40)'/%3E%3Cuse href='%23s' transform='scale(0.9) rotate(40)'/%3E%3Cuse href='%23s' transform='scale(1.05) rotate(25)'/%3E%3Cuse href='%23s' transform='scale(1.2) rotate(8)'/%3E%3Cuse href='%23s' transform='scale(1.333) rotate(-60)'/%3E%3Cuse href='%23s' transform='scale(1.45) rotate(-30)'/%3E%3Cuse href='%23s' transform='scale(1.6) rotate(10)'/%3E%3C/g%3E%3C/defs%3E%3Cg transform='translate(200 0)'%3E%3Cg transform='translate(0 1500)'%3E%3Ccircle fill='url(%23a)' r='3000'/%3E%3Cg opacity='0.5'%3E%3Ccircle fill='url(%23a)' r='2000'/%3E%3Ccircle fill='url(%23a)' r='1800'/%3E%3Ccircle fill='url(%23a)' r='1700'/%3E%3Ccircle fill='url(%23a)' r='1651'/%3E%3Ccircle fill='url(%23a)' r='1450'/%3E%3Ccircle fill='url(%23a)' r='1250'/%3E%3Ccircle fill='url(%23a)' r='1175'/%3E%3Ccircle fill='url(%23a)' r='900'/%3E%3Ccircle fill='url(%23a)' r='750'/%3E%3Ccircle fill='url(%23a)' r='500'/%3E%3Ccircle fill='url(%23a)' r='380'/%3E%3Ccircle fill='url(%23a)' r='250'/%3E%3C/g%3E%3Cg transform='rotate(-7.2 0 0)'%3E%3Cuse href='%23g' transform='rotate(10)'/%3E%3Cuse href='%23g' transform='rotate(120)'/%3E%3Cuse href='%23g' transform='rotate(240)'/%3E%3C/g%3E%3Ccircle fill-opacity='0.46' fill='url(%23a)' r='3000'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;

    a {
        color: $red-color;
    }

    .dropdown-menu {
        background-color: #c1e4a9;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 2000 1500'%3E%3Cdefs%3E%3CradialGradient id='a' gradientUnits='objectBoundingBox'%3E%3Cstop offset='0' stop-color='%239CB888'/%3E%3Cstop offset='1' stop-color='%23C1E4A9'/%3E%3C/radialGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='0' y1='750' x2='1550' y2='750'%3E%3Cstop offset='0' stop-color='%23aed196'/%3E%3Cstop offset='1' stop-color='%23C1E4A9'/%3E%3C/linearGradient%3E%3Cpath id='s' fill='url(%23b)' d='M1549.2 51.6c-5.4 99.1-20.2 197.6-44.2 293.6c-24.1 96-57.4 189.4-99.3 278.6c-41.9 89.2-92.4 174.1-150.3 253.3c-58 79.2-123.4 152.6-195.1 219c-71.7 66.4-149.6 125.8-232.2 177.2c-82.7 51.4-170.1 94.7-260.7 129.1c-90.6 34.4-184.4 60-279.5 76.3C192.6 1495 96.1 1502 0 1500c96.1-2.1 191.8-13.3 285.4-33.6c93.6-20.2 185-49.5 272.5-87.2c87.6-37.7 171.3-83.8 249.6-137.3c78.4-53.5 151.5-114.5 217.9-181.7c66.5-67.2 126.4-140.7 178.6-218.9c52.3-78.3 96.9-161.4 133-247.9c36.1-86.5 63.8-176.2 82.6-267.6c18.8-91.4 28.6-184.4 29.6-277.4c0.3-27.6 23.2-48.7 50.8-48.4s49.5 21.8 49.2 49.5c0 0.7 0 1.3-0.1 2L1549.2 51.6z'/%3E%3Cg id='g'%3E%3Cuse href='%23s' transform='scale(0.12) rotate(60)'/%3E%3Cuse href='%23s' transform='scale(0.2) rotate(10)'/%3E%3Cuse href='%23s' transform='scale(0.25) rotate(40)'/%3E%3Cuse href='%23s' transform='scale(0.3) rotate(-20)'/%3E%3Cuse href='%23s' transform='scale(0.4) rotate(-30)'/%3E%3Cuse href='%23s' transform='scale(0.5) rotate(20)'/%3E%3Cuse href='%23s' transform='scale(0.6) rotate(60)'/%3E%3Cuse href='%23s' transform='scale(0.7) rotate(10)'/%3E%3Cuse href='%23s' transform='scale(0.835) rotate(-40)'/%3E%3Cuse href='%23s' transform='scale(0.9) rotate(40)'/%3E%3Cuse href='%23s' transform='scale(1.05) rotate(25)'/%3E%3Cuse href='%23s' transform='scale(1.2) rotate(8)'/%3E%3Cuse href='%23s' transform='scale(1.333) rotate(-60)'/%3E%3Cuse href='%23s' transform='scale(1.45) rotate(-30)'/%3E%3Cuse href='%23s' transform='scale(1.6) rotate(10)'/%3E%3C/g%3E%3C/defs%3E%3Cg transform='translate(200 0)'%3E%3Cg transform='translate(0 1500)'%3E%3Ccircle fill='url(%23a)' r='3000'/%3E%3Cg opacity='0.5'%3E%3Ccircle fill='url(%23a)' r='2000'/%3E%3Ccircle fill='url(%23a)' r='1800'/%3E%3Ccircle fill='url(%23a)' r='1700'/%3E%3Ccircle fill='url(%23a)' r='1651'/%3E%3Ccircle fill='url(%23a)' r='1450'/%3E%3Ccircle fill='url(%23a)' r='1250'/%3E%3Ccircle fill='url(%23a)' r='1175'/%3E%3Ccircle fill='url(%23a)' r='900'/%3E%3Ccircle fill='url(%23a)' r='750'/%3E%3Ccircle fill='url(%23a)' r='500'/%3E%3Ccircle fill='url(%23a)' r='380'/%3E%3Ccircle fill='url(%23a)' r='250'/%3E%3C/g%3E%3Cg transform='rotate(-7.2 0 0)'%3E%3Cuse href='%23g' transform='rotate(10)'/%3E%3Cuse href='%23g' transform='rotate(120)'/%3E%3Cuse href='%23g' transform='rotate(240)'/%3E%3C/g%3E%3Ccircle fill-opacity='0.46' fill='url(%23a)' r='3000'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
        background-attachment: fixed;
        background-size: cover;
    }
}

//************************** admin layout **************************
#admin {
    height: 100vh;
    overflow: hidden;
    display: flex;

    /* sidebar */
    #sidebar {
        width: 260px;
        color: $content-bg;
        background-color: $sidebar-bg;
        .logo {
            padding: 7px 12px;
            a {
                padding: 11px 0;
            }
        }
        .user {
            padding-bottom: 20px;
            .profile {
                padding: 20px 0;
                margin: 0 15px;
                border-top: 1px solid #f4f3ef86;
                border-bottom: 1px solid #f4f3ef86;
                a {
                    padding: 0 10px;
                }
                .profile-picture {
                    width: 35px;
                    height: 35px;
                }
                ul {
                    margin-top: 9px;
                    li {
                        a {
                            margin-top: 10px;
                            color: $content-bg;
                            display: block;
                            font-size: 12px;
                            line-height: 30px;
                            opacity: 0.8;
                            i {
                                width: 34px;
                                text-align: center;
                                margin-right: 10px;
                                font-size: 1rem;
                                line-height: 20px;
                                opacity: 0.5;
                            }
                            &:hover {
                                transition: all 0.3s ease 0s;
                                opacity: 1;
                            }
                        }
                    }
                }
            }
        }
        #routes-list {
            li {
                a {
                    margin: 10px 15px 0;
                    color: $content-bg;
                    text-transform: uppercase;
                    font-size: 0.8rem;
                    font-weight: 600;
                    padding: 10px;
                    line-height: 30px;
                    opacity: 0.8;
                    position: relative;
                    &:hover {
                        opacity: 1;
                        transition: all 0.3s ease 0s;
                    }
                    i {
                        font-size: 1.5rem;
                        margin-right: 12px;
                        line-height: 30px;
                        width: 34px;
                        text-align: center;
                        opacity: 0.5;
                    }
                    &.active {
                        color: $active-link;
                        opacity: 1;
                        i {
                            opacity: 0.8;
                        }
                        &:after {
                            content: "";
                            position: absolute;
                            right: -17px;
                            top: 7px;
                            opacity: 1;
                            border-right: 17px solid $content-bg;
                            border-top: 17px solid transparent;
                            border-bottom: 17px solid transparent;
                            display: inline-block;
                            transition: opacity 0.15s ease-in;
                        }
                    }
                }
            }
        }
    }

    /* main content */
    #content {
        flex-grow: 1;
        overflow-y: scroll;
        margin-right: -10px; // for scrollbar
        main {
            height: 100%;
            padding: 0 16px;
        }

        /* header */
        header {
            #main-navbar {
                background-color: $content-bg;
                border-bottom: 1px solid #dddddd;
                padding: 10px 16px;
                .minimize-button {
                    button {
                        background-color: $sidebar-bg;
                        color: $content-bg;
                        aspect-ratio: 1 / 1;
                        padding: 2px 12px;
                        border: none;
                        border-radius: 50px;
                        i {
                            width: 16px;
                        }
                        &:hover {
                            filter: brightness(0.8);
                            transition-duration: 0.3s;
                        }
                    }
                }
                .main-title {
                    color: $sidebar-bg;
                    font-size: 1.2rem;
                    font-weight: 400;
                }
                #navigation {
                    input {
                        border: none;
                        border-radius: 0;
                        background-color: #ededea;
                        &.form-control:focus {
                            box-shadow: none;
                        }
                    }
                    .input-group-text {
                        color: $sidebar-bg;
                        background-color: #ededea;
                        border: none;
                        border-radius: 0;
                        height: 100%;
                    }
                    ul.navbar-nav {
                        li.nav-item {
                            a.nav-link {
                                color: $sidebar-bg;
                                span {
                                    position: absolute;
                                    transform: scale(0.7);
                                    top: 0;
                                    right: calc(50% - 10px);
                                }
                                &:hover i {
                                    filter: brightness(0.8);
                                    transform: scale(1.4);
                                    transition-duration: 0.3s;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

//************************** dashboard **************************

.card {
    border: none;
    border-radius: 12px;
    box-shadow: 0 6px 10px -4px rgba(0,0,0,.15);
    background-color: white;
    color: $text-cards;
}

//************************** carousel **************************
.body-carousel {
    height: 600px;
    margin: 0;
    display: grid;
    grid-template-rows: 500px 100px;
    grid-template-columns: 1fr 30px 30px 30px 30px 30px 1fr;
    align-items: center;
    justify-items: center;
    position: relative;

    div#carousel {
        grid-row: 1 / 2;
        grid-column: 1 / 8;
        width: 100%;
        height: 500px;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        transform-style: preserve-3d;
        perspective: 1000px;
        --items: 5;
        --middle: 3;
        --position: 1;
        pointer-events: none;

        .item {
            position: absolute;
            width: 300px;
            height: 400px;
            background-color: coral;
            --r: calc(var(--position) - var(--offset));
            --abs: max(calc(var(--r) * -1), var(--r));
            transition: all 0.25s linear;
            transform: rotateY(calc(-10deg * var(--r)))
                translateX(calc(-300px * var(--r)));
            z-index: calc((var(--position) - var(--abs)));

            img {
                width: 100%;
                height: 100%;
            }

            &:nth-of-type(1) {
                --offset: 1;
                background-color: blue;
            }

            &:nth-of-type(2) {
                --offset: 2;
                background-color: green;
            }

            &:nth-of-type(3) {
                --offset: 3;
                background-color: yellow;
            }

            &:nth-of-type(4) {
                --offset: 4;
                background-color: red;
            }

            &:nth-of-type(5) {
                --offset: 5;
                background: rgb(0, 0, 255);
                background: linear-gradient(
                    207deg,
                    rgba(0, 0, 255, 1) 0%,
                    rgba(0, 128, 0, 1) 35%,
                    rgba(255, 255, 0, 1) 55%,
                    rgba(255, 0, 0, 1) 93%
                );
            }
        }
    }

    input:nth-of-type(1) {
        grid-column: 2 / 3;
        grid-row: 2 / 3;
    }

    input:nth-of-type(1):checked ~ div#carousel {
        --position: 1;
    }

    input:nth-of-type(2) {
        grid-column: 3 / 4;
        grid-row: 2 / 3;
    }

    input:nth-of-type(2):checked ~ div#carousel {
        --position: 2;
    }

    input:nth-of-type(3) {
        grid-column: 4 /5;
        grid-row: 2 / 3;
    }

    input:nth-of-type(3):checked ~ div#carousel {
        --position: 3;
    }

    input:nth-of-type(4) {
        grid-column: 5 / 6;
        grid-row: 2 / 3;
    }

    input:nth-of-type(4):checked ~ div#carousel {
        --position: 4;
    }

    input:nth-of-type(5) {
        grid-column: 6 / 7;
        grid-row: 2 / 3;
    }

    input:nth-of-type(5):checked ~ div#carousel {
        --position: 5;
    }
}

.text-bordeaux{
    color: $color-red;
}
.bg-bordeaux{
    background-color: $color-red;
    
    &:hover{
        filter: brightness(0.8);
        transition-duration: 0.3s;
    }
}