$text-color: #1b70f0;
$red-color: #252422;
$content-bg: #F4F3EF;
$sidebar-bg: #66615B;
$active-link: #ef8157;

/* color styles */
$color-white: #fff;
$color-black: #000;
$color-gray-100: #f8f8f8;
$color-gray-200: #ebebeb;
$color-blue: #30B7B4;
$color-red: #b3697b;
$color-yellow:#E8B757;

$text-cards: #252422;